img {
    border-radius: 50%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgb(15, 5, 34);
    width: 960px;  
    /* border: 1px solid black; */
    margin: auto;
}

h1 {
    color:turquoise;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 50px;
}

h2 {
    color:turquoise;
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
}

p {
    color: white;
    font-size: 20px;
    padding-top: 30px;
}

ul {
    list-style: disc;
    color:white;
    padding-top: 30px;
    font-size: 20px;
    margin:50px;
}

ol {
    list-style: disc;
    color:white;
    padding-top: 30px;
    font-size: 20px;
    margin:50px;
}

footer {
    color:turquoise;
    padding-top: 200px;
}